In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set()
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab 
%matplotlib notebook

In [2]:
df = pd.read_csv('vgsales.csv')

In [3]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [4]:
df.shape

(16598, 11)

In [5]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [6]:
df.duplicated().sum()

0

In [7]:
df.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [9]:
# data cleaning
sales = df.copy()

In [10]:
sales.isna().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [11]:
sales.isna().sum().sum()

329

In [12]:
sales.replace("nan", np.nan, inplace=True)
sales = sales.dropna()
sales.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [13]:
sales.shape

(16291, 11)

In [14]:
# Convert data type
sales['Year'] = sales['Year'].astype('int32', errors='ignore')
sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16291 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16291 non-null  int64
 1   Name          16291 non-null  object
 2   Platform      16291 non-null  object
 3   Year          16291 non-null  int32
 4   Genre         16291 non-null  object
 5   Publisher     16291 non-null  object
 6   NA_Sales      16291 non-null  float64
 7   EU_Sales      16291 non-null  float64
 8   JP_Sales      16291 non-null  float64
 9   Other_Sales   16291 non-null  float64
 10  Global_Sales  16291 non-null  float64
dtypes: float64(5), int32(1), int64(1), object(4)
memory usage: 1.4+ MB

In [15]:
sales.iloc[26, :]

Rank                                     27
Name            Pokemon Black/Pokemon White
Platform                                 DS
Year                                   2010
Genre                          Role-Playing
Publisher                          Nintendo
NA_Sales                               5.57
EU_Sales                               3.28
JP_Sales                               5.65
Other_Sales                            0.82
Global_Sales                          15.32
Name: 26, dtype: object

Begining of Prediction, which market should we focus?

In [16]:
#data filtering
sales_after_2010 = sales[(sales.Year >= 2010) & (sales.Global_Sales > 1)]

In [17]:
#Number of Gamers in EU, Japan, and North America from Statistia
EU_Gamer, JP_Gamer, NA_Gamer, Global_Gamer, Other_Gamer = 275, 74, 285, 3090, 2460

In [18]:
#check how many platforms are there
sales_after_2010.Platform.unique()

array(['X360', 'PS3', 'DS', '3DS', 'PS4', 'Wii', 'XOne', 'WiiU', 'PC',
       'PSP', 'PSV'], dtype=object)

In [19]:
#Normalize Sales by per capita
sales_after_2010['EU_Sales'] = sales_after_2010['EU_Sales']/EU_Gamer
sales_after_2010['NA_Sales'] = sales_after_2010['NA_Sales']/NA_Gamer
sales_after_2010['JP_Sales'] = sales_after_2010['JP_Sales']/JP_Gamer
sales_after_2010['Global_Sales'] = sales_after_2010['Global_Sales']/Global_Gamer
sales_after_2010['Other_Sales'] = sales_after_2010['Other_Sales']/Other_Gamer

/var/folders/cy/p78z_yd10wb7gttsfxj36gmr0000gn/T/ipykernel_1124/1250304914.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_after_2010['EU_Sales'] = sales_after_2010['EU_Sales']/EU_Gamer
/var/folders/cy/p78z_yd10wb7gttsfxj36gmr0000gn/T/ipykernel_1124/1250304914.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_after_2010['NA_Sales'] = sales_after_2010['NA_Sales']/NA_Gamer
/var/folders/cy/p78z_yd10wb7gttsfxj36gmr0000gn/T/ipykernel_1124/1250304914.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_after_2010['JP_Sales'] = sales_after_2010['JP_Sales']/JP_Gamer
/var/folders/cy/p78z_yd10wb7gttsfxj36gmr0000gn/T/ipykernel_1124/1250304914.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_after_2010['Global_Sales'] = sales_after_2010['Global_Sales']/Global_Gamer
/var/folders/cy/p78z_yd10wb7gttsfxj36gmr0000gn/T/ipykernel_1124/1250304914.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_after_2010['Other_Sales'] = sales_after_2010['Other_Sales']/Other_Gamer

In [20]:
sales_after_2010

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
15,16,Kinect Adventures!,X360,2010,Misc,Microsoft Game Studios,0.052526,0.017964,0.003243,0.000679,0.007061
16,17,Grand Theft Auto V,PS3,2013,Action,Take-Two Interactive,0.024596,0.033709,0.013108,0.001683,0.006926
23,24,Grand Theft Auto V,X360,2013,Action,Take-Two Interactive,0.033789,0.019309,0.000811,0.000561,0.005301
26,27,Pokemon Black/Pokemon White,DS,2010,Role-Playing,Nintendo,0.019544,0.011927,0.076351,0.000333,0.004958
29,30,Call of Duty: Modern Warfare 3,X360,2011,Shooter,Activision,0.031684,0.015564,0.001757,0.000537,0.004777
...,...,...,...,...,...,...,...,...,...,...,...
2043,2045,God of War: Ghost of Sparta,PSP,2010,Action,Sony Computer Entertainment,0.001439,0.001309,0.000405,0.000085,0.000327
2044,2046,Sonic Generations,3DS,2011,Platform,Sega,0.001544,0.001673,0.000135,0.000037,0.000327
2048,2050,Guitar Hero: Warriors of Rock,Wii,2010,Misc,Activision,0.001684,0.001600,0.000000,0.000037,0.000327
2051,2053,The LEGO Movie Videogame,PS3,2014,Action,Warner Bros. Interactive Entertainment,0.001158,0.001745,0.000270,0.000073,0.000327
2053,2055,Rayman Legends,PS4,2014,Platform,Ubisoft,0.000737,0.002218,0.000000,0.000073,0.000327

In [21]:
sales_after_2010.Platform.unique()

array(['X360', 'PS3', 'DS', '3DS', 'PS4', 'Wii', 'XOne', 'WiiU', 'PC',
       'PSP', 'PSV'], dtype=object)

In [22]:
#find the 
sales_after_2010['label'] = sales_after_2010[['NA_Sales', 'EU_Sales', 'JP_Sales']].max(axis=1)

/var/folders/cy/p78z_yd10wb7gttsfxj36gmr0000gn/T/ipykernel_1124/3007792869.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_after_2010['label'] = sales_after_2010[['NA_Sales', 'EU_Sales', 'JP_Sales']].max(axis=1)

In [23]:
#create label for each game's per capita top-sale market
for i in range(len(sales_after_2010)):
    if sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('label')] ==sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('NA_Sales')]:
        sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('label')] = 0
    elif sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('label')] ==sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('EU_Sales')]:
        sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('label')] = 1
    elif sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('label')] ==sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('JP_Sales')]:
        sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('label')] = 2

In [103]:
sales_after_2010.Year.unique()

array([2010, 2013, 2011, 2015, 2012, 2014, 2016], dtype=int32)

In [24]:
from pandas import get_dummies
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [28]:
sales_2010 = sales_after_2010.drop(['Name','NA_Sales', 'EU_Sales', 'JP_Sales', 'Global_Sales', 'Other_Sales', 'Rank'], axis = 1)
#add the game property we want to predict before get_dummies
sales_2010.loc[len(df)] = ['X360', 2016, 'Action', 'Nintendo', 1]
label_encoder = LabelEncoder()
print(sales_2010)
sales_2010['Genre'] = label_encoder.fit_transform(sales_2010['Genre']) 
sales_2010['Platform'] = label_encoder.fit_transform(sales_2010['Platform']) 
sales_2010['Publisher'] = label_encoder.fit_transform(sales_2010['Publisher']) 
X_pred = sales_2010.iloc[-1, :].drop('label')
sales_2010 = sales_2010.iloc[:-1, :]
#find the number of label for each market
print(np.count_nonzero(sales_2010.label == 0))
print(np.count_nonzero(sales_2010.label == 1))
print(np.count_nonzero(sales_2010.label == 2))

      Platform  Year         Genre                               Publisher  \
15        X360  2010          Misc                  Microsoft Game Studios
16         PS3  2013        Action                    Take-Two Interactive
23        X360  2013        Action                    Take-Two Interactive
26          DS  2010  Role-Playing                                Nintendo
29        X360  2011       Shooter                              Activision
...        ...   ...           ...                                     ...
2044       3DS  2011      Platform                                    Sega
2048       Wii  2010          Misc                              Activision
2051       PS3  2014        Action  Warner Bros. Interactive Entertainment
2053       PS4  2014      Platform                                 Ubisoft
16598     X360  2016        Action                                Nintendo

       label
15       0.0
16       1.0
23       0.0
26       2.0
29       0.0
...      ...
2044     1.0
2048     0.0
2051     1.0
2053     1.0
16598    1.0

[563 rows x 5 columns]
279
182
101

In [29]:
sales_2010

      Platform  Year  Genre  Publisher  label
15           9  2010      3         19    0.0
16           3  2013      0         29    1.0
23           9  2013      0         29    0.0
26           1  2010      7         22    2.0
29           9  2011      8          1    0.0
...        ...   ...    ...        ...    ...
2043         5  2010      0         25    0.0
2044         0  2011      4         23    1.0
2048         7  2010      3          1    0.0
2051         3  2014      0         33    1.0
2053         4  2014      4         30    1.0

[562 rows x 5 columns]

In [30]:
#Define the input(X) and output(y) of the model 
y = sales_2010['label'].values
X = sales_2010.drop(['label'], axis = 1).values
#Use built-in train_test_split in sklearn to split the data, 70% train, 30% test
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.70, random_state = 20)

In [31]:
#Build a random forest classifier using Sklearn, fit the model, and predict label
RDF_1 = RandomForestClassifier(random_state = 3).fit(Xtrain, ytrain)
y_val = RDF_1.predict_proba(Xtest)
print("Validation accuracy: ", sum(pd.DataFrame(y_val).idxmax(axis=1).values == ytest ) / len(ytest) )

Validation accuracy:  0.6954314720812182

In [32]:
from sklearn.decomposition import PCA

In [34]:
#Using PCA combine with random forest to classify
pca_X = PCA(n_components=3).fit_transform(X)
Xtrain_pca, Xtest_pca, ytrain, ytest = train_test_split(pca_X, y, test_size = 0.70, random_state = 3)

In [35]:
#using the transformed PCA data for prediction
RDF_2 = RandomForestClassifier(random_state = 3).fit(Xtrain_pca, ytrain)
y_val_pca = RDF_2.predict_proba(Xtest_pca)
print("Validation accuracy: ", sum(pd.DataFrame(y_val_pca).idxmax(axis=1).values == ytest ) / len(ytest) )

Validation accuracy:  0.631979695431472

In [39]:
Xtrain[-1].shape

(58,)

In [97]:
#Make the prediction for video game with 'X360', 2016, 'Action', 'Nintendo' properties 
X_pred = np.array(X_pred)

In [98]:
X_pred = X_pred.reshape(1, 58)

In [99]:
y_pred = RDF_1.predict_proba(X_pred)

In [100]:
y_pred

array([[0.31, 0.  , 0.69]])