In [192]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set()
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab 
%matplotlib notebook

In [193]:
df = pd.read_csv('vgsales.csv')

In [194]:
df.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [195]:
df.shape

(16598, 11)

In [196]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [197]:
df.duplicated().sum()

0

In [198]:
df.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [200]:
# data cleaning
sales = df.copy()

In [201]:
sales.isna().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [202]:
sales.isna().sum().sum()

329

In [203]:
sales.replace("nan", np.nan, inplace=True)
sales = sales.dropna()
sales.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [204]:
sales.shape

(16291, 11)

In [205]:
# Convert data type
sales['Year'] = sales['Year'].astype('int32', errors='ignore')
sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16291 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16291 non-null  int64
 1   Name          16291 non-null  object
 2   Platform      16291 non-null  object
 3   Year          16291 non-null  int32
 4   Genre         16291 non-null  object
 5   Publisher     16291 non-null  object
 6   NA_Sales      16291 non-null  float64
 7   EU_Sales      16291 non-null  float64
 8   JP_Sales      16291 non-null  float64
 9   Other_Sales   16291 non-null  float64
 10  Global_Sales  16291 non-null  float64
dtypes: float64(5), int32(1), int64(1), object(4)
memory usage: 1.4+ MB

In [206]:
sales.iloc[26, :]

Rank                                     27
Name            Pokemon Black/Pokemon White
Platform                                 DS
Year                                   2010
Genre                          Role-Playing
Publisher                          Nintendo
NA_Sales                               5.57
EU_Sales                               3.28
JP_Sales                               5.65
Other_Sales                            0.82
Global_Sales                          15.32
Name: 26, dtype: object

Begining of Prediction, which market should we focus?

In [207]:
#data filtering
sales_after_2010 = sales[(sales.Year >= 2010) & (sales.Global_Sales > 1)]

In [208]:
#Number of Gamers in EU, Japan, and North America from Statistia
EU_Gamer, JP_Gamer, NA_Gamer, Global_Gamer, Other_Gamer = 215, 74, 285, 3090, 2460

In [209]:
#check how many platforms are there
sales_after_2010.Platform.unique()

array(['X360', 'PS3', 'DS', '3DS', 'PS4', 'Wii', 'XOne', 'WiiU', 'PC',
       'PSP', 'PSV'], dtype=object)

In [210]:
#Normalize Sales by per capita
sales_after_2010['EU_Sales'] = sales_after_2010['EU_Sales']/EU_Gamer
sales_after_2010['NA_Sales'] = sales_after_2010['NA_Sales']/NA_Gamer
sales_after_2010['JP_Sales'] = sales_after_2010['JP_Sales']/JP_Gamer
sales_after_2010['Global_Sales'] = sales_after_2010['Global_Sales']/Global_Gamer
sales_after_2010['Other_Sales'] = sales_after_2010['Other_Sales']/Other_Gamer

/var/folders/cy/p78z_yd10wb7gttsfxj36gmr0000gn/T/ipykernel_2213/1250304914.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_after_2010['EU_Sales'] = sales_after_2010['EU_Sales']/EU_Gamer
/var/folders/cy/p78z_yd10wb7gttsfxj36gmr0000gn/T/ipykernel_2213/1250304914.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_after_2010['NA_Sales'] = sales_after_2010['NA_Sales']/NA_Gamer
/var/folders/cy/p78z_yd10wb7gttsfxj36gmr0000gn/T/ipykernel_2213/1250304914.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_after_2010['JP_Sales'] = sales_after_2010['JP_Sales']/JP_Gamer
/var/folders/cy/p78z_yd10wb7gttsfxj36gmr0000gn/T/ipykernel_2213/1250304914.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_after_2010['Global_Sales'] = sales_after_2010['Global_Sales']/Global_Gamer
/var/folders/cy/p78z_yd10wb7gttsfxj36gmr0000gn/T/ipykernel_2213/1250304914.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_after_2010['Other_Sales'] = sales_after_2010['Other_Sales']/Other_Gamer

In [237]:
sales_after_2010

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,label
15,16,Kinect Adventures!,X360,2010,Misc,Microsoft Game Studios,0.052526,0.022977,0.003243,0.000679,0.007061,0.0
16,17,Grand Theft Auto V,PS3,2013,Action,Take-Two Interactive,0.024596,0.043116,0.013108,0.001683,0.006926,1.0
23,24,Grand Theft Auto V,X360,2013,Action,Take-Two Interactive,0.033789,0.024698,0.000811,0.000561,0.005301,0.0
26,27,Pokemon Black/Pokemon White,DS,2010,Role-Playing,Nintendo,0.019544,0.015256,0.076351,0.000333,0.004958,2.0
29,30,Call of Duty: Modern Warfare 3,X360,2011,Shooter,Activision,0.031684,0.019907,0.001757,0.000537,0.004777,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2043,2045,God of War: Ghost of Sparta,PSP,2010,Action,Sony Computer Entertainment,0.001439,0.001674,0.000405,0.000085,0.000327,1.0
2044,2046,Sonic Generations,3DS,2011,Platform,Sega,0.001544,0.002140,0.000135,0.000037,0.000327,1.0
2048,2050,Guitar Hero: Warriors of Rock,Wii,2010,Misc,Activision,0.001684,0.002047,0.000000,0.000037,0.000327,1.0
2051,2053,The LEGO Movie Videogame,PS3,2014,Action,Warner Bros. Interactive Entertainment,0.001158,0.002233,0.000270,0.000073,0.000327,1.0
2053,2055,Rayman Legends,PS4,2014,Platform,Ubisoft,0.000737,0.002837,0.000000,0.000073,0.000327,1.0

In [238]:
sales_after_2010.Platform.unique()

array(['X360', 'PS3', 'DS', '3DS', 'PS4', 'Wii', 'XOne', 'WiiU', 'PC',
       'PSP', 'PSV'], dtype=object)

In [239]:
#find the 
sales_after_2010['label'] = sales_after_2010[['NA_Sales', 'EU_Sales', 'JP_Sales']].max(axis=1)

/var/folders/cy/p78z_yd10wb7gttsfxj36gmr0000gn/T/ipykernel_2213/3007792869.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_after_2010['label'] = sales_after_2010[['NA_Sales', 'EU_Sales', 'JP_Sales']].max(axis=1)

In [240]:
#create label for each game's per capita top-sale market
for i in range(len(sales_after_2010)):
    if sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('label')] ==sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('NA_Sales')]:
        sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('label')] = 0
    elif sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('label')] ==sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('EU_Sales')]:
        sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('label')] = 1
    elif sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('label')] ==sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('JP_Sales')]:
        sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('label')] = 2

In [241]:
sales_after_2010.Year.unique()

array([2010, 2013, 2011, 2015, 2012, 2014, 2016], dtype=int32)

In [242]:
from pandas import get_dummies
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [243]:
sales_2010 = sales_after_2010.drop(['Name','NA_Sales', 'EU_Sales', 'JP_Sales', 'Global_Sales', 'Other_Sales', 'Rank'], axis = 1)
#add the game property we want to predict before get_dummies
sales_2010.loc[len(df)] = ['X360', 2016, 'Action', 'Nintendo', 1]
sales_2010 = get_dummies(sales_2010)
X_pred = sales_2010.iloc[-1, :].drop('label')
sales_2010 = sales_2010.iloc[:-1, :]
#find the number of label for each market
print(np.count_nonzero(sales_2010.label == 0))
print(np.count_nonzero(sales_2010.label == 1))
print(np.count_nonzero(sales_2010.label == 2))

231
233
98

In [244]:
sales_2010

,Year,label,Platform_3DS,Platform_DS,Platform_PC,Platform_PS3,Platform_PS4,Platform_PSP,Platform_PSV,Platform_Wii,...,Publisher_Slightly Mad Studios,Publisher_Sony Computer Entertainment,Publisher_Sony Computer Entertainment Europe,Publisher_Square Enix,Publisher_THQ,Publisher_Take-Two Interactive,Publisher_Ubisoft,Publisher_Valve,Publisher_Valve Software,Publisher_Warner Bros. Interactive Entertainment
15,2010,0.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,2013,1.0,False,False,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23,2013,0.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
26,2010,2.0,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29,2011,0.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2043,2010,1.0,False,False,False,False,False,True,False,False,...,False,True,False,False,False,False,False,False,False,False
2044,2011,1.0,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2048,2010,1.0,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2051,2014,1.0,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2053,2014,1.0,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [245]:
#Define the input(X) and output(y) of the model 
y = sales_2010['label'].values
X = sales_2010.drop(['label'], axis = 1).values
#Use built-in train_test_split in sklearn to split the data, 70% train, 30% test
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.70, random_state = 20)

In [269]:
#Build a random forest classifier using Sklearn, fit the model, and predict label
RDF_1 = RandomForestClassifier(random_state = 8).fit(Xtrain, ytrain)
y_val = RDF_1.predict_proba(Xtest)
print("Validation accuracy: ", sum(pd.DataFrame(y_val).idxmax(axis=1).values == ytest ) / len(ytest) )

Validation accuracy:  0.7157360406091371

In [236]:
Xtrain[-1].shape

(58,)

In [222]:
#Make the prediction for video game with 'X360', 2016, 'Action', 'Nintendo' properties 
X_pred = np.array(X_pred)

In [223]:
X_pred = X_pred.reshape(1, 58)

In [224]:
y_pred = RDF_1.predict_proba(X_pred)

In [225]:
y_pred

array([[0.64, 0.1 , 0.26]])