In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set()
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab 
%matplotlib notebook

In [2]:
df = pd.read_csv('vgsales.csv')

In [3]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [4]:
df.shape

(16598, 11)

In [5]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [6]:
df.duplicated().sum()

0

In [7]:
df.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [9]:
# data cleaning
sales = df.copy()

In [10]:
sales.isna().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [11]:
sales.isna().sum().sum()

329

In [12]:
sales.replace("nan", np.nan, inplace=True)
sales = sales.dropna()
sales.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [13]:
sales.shape

(16291, 11)

In [14]:
# Convert data type
sales['Year'] = sales['Year'].astype('int32', errors='ignore')
sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16291 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16291 non-null  int64
 1   Name          16291 non-null  object
 2   Platform      16291 non-null  object
 3   Year          16291 non-null  int32
 4   Genre         16291 non-null  object
 5   Publisher     16291 non-null  object
 6   NA_Sales      16291 non-null  float64
 7   EU_Sales      16291 non-null  float64
 8   JP_Sales      16291 non-null  float64
 9   Other_Sales   16291 non-null  float64
 10  Global_Sales  16291 non-null  float64
dtypes: float64(5), int32(1), int64(1), object(4)
memory usage: 1.4+ MB

In [15]:
sales.iloc[26, :]

Rank                                     27
Name            Pokemon Black/Pokemon White
Platform                                 DS
Year                                   2010
Genre                          Role-Playing
Publisher                          Nintendo
NA_Sales                               5.57
EU_Sales                               3.28
JP_Sales                               5.65
Other_Sales                            0.82
Global_Sales                          15.32
Name: 26, dtype: object

Begining of Prediction, which market should we focus?

In [16]:
#data filtering
sales_after_2010 = sales[(sales.Year >= 2010) & (sales.Global_Sales > 1)]

In [85]:
#Number of Gamers in EU, Japan, and North America from Statistia
EU_Gamer, JP_Gamer, NA_Gamer, Global_Gamer, Other_Gamer = 275, 74, 285, 3090, 2460

In [86]:
#check how many platforms are there
sales_after_2010.Platform.unique()

array(['X360', 'PS3', 'DS', '3DS', 'PS4', 'Wii', 'XOne', 'WiiU', 'PC',
       'PSP', 'PSV'], dtype=object)

In [87]:
#Normalize Sales by per capita
sales_after_2010['EU_Sales'] = sales_after_2010['EU_Sales']/EU_Gamer
sales_after_2010['NA_Sales'] = sales_after_2010['NA_Sales']/NA_Gamer
sales_after_2010['JP_Sales'] = sales_after_2010['JP_Sales']/JP_Gamer
sales_after_2010['Global_Sales'] = sales_after_2010['Global_Sales']/Global_Gamer
sales_after_2010['Other_Sales'] = sales_after_2010['Other_Sales']/Other_Gamer

/var/folders/cy/p78z_yd10wb7gttsfxj36gmr0000gn/T/ipykernel_2142/1250304914.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_after_2010['EU_Sales'] = sales_after_2010['EU_Sales']/EU_Gamer
/var/folders/cy/p78z_yd10wb7gttsfxj36gmr0000gn/T/ipykernel_2142/1250304914.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_after_2010['NA_Sales'] = sales_after_2010['NA_Sales']/NA_Gamer
/var/folders/cy/p78z_yd10wb7gttsfxj36gmr0000gn/T/ipykernel_2142/1250304914.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_after_2010['JP_Sales'] = sales_after_2010['JP_Sales']/JP_Gamer
/var/folders/cy/p78z_yd10wb7gttsfxj36gmr0000gn/T/ipykernel_2142/1250304914.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_after_2010['Global_Sales'] = sales_after_2010['Global_Sales']/Global_Gamer
/var/folders/cy/p78z_yd10wb7gttsfxj36gmr0000gn/T/ipykernel_2142/1250304914.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_after_2010['Other_Sales'] = sales_after_2010['Other_Sales']/Other_Gamer

In [88]:
sales_after_2010

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,label
15,16,Kinect Adventures!,X360,2010,Misc,Microsoft Game Studios,7.961548e-12,7.301489e-13,1.081565e-10,5.564429e-14,2.393431e-13,2.0
16,17,Grand Theft Auto V,PS3,2013,Action,Take-Two Interactive,3.728153e-12,1.370138e-12,4.371325e-10,1.379445e-13,2.347361e-13,2.0
23,24,Grand Theft Auto V,X360,2013,Action,Take-Two Interactive,5.121557e-12,7.848362e-13,2.703913e-11,4.598151e-14,1.796718e-13,2.0
26,27,Pokemon Black/Pokemon White,DS,2010,Role-Playing,Nintendo,2.962313e-12,4.847952e-13,2.546184e-09,2.732235e-14,1.680447e-13,2.0
29,30,Call of Duty: Modern Warfare 3,X360,2011,Shooter,Activision,4.802457e-12,6.325986e-13,5.858477e-11,4.398231e-14,1.619021e-13,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2043,2045,God of War: Ghost of Sparta,PSP,2010,Action,Sony Computer Entertainment,2.180517e-13,5.320923e-14,1.351956e-11,6.997186e-15,1.107867e-14,2.0
2044,2046,Sonic Generations,3DS,2011,Platform,Sega,2.340067e-13,6.798957e-14,4.506521e-12,2.998794e-15,1.107867e-14,2.0
2048,2050,Guitar Hero: Warriors of Rock,Wii,2010,Misc,Activision,2.552801e-13,6.503350e-14,0.000000e+00,2.998794e-15,1.107867e-14,0.0
2051,2053,The LEGO Movie Videogame,PS3,2014,Action,Warner Bros. Interactive Entertainment,1.755051e-13,7.094564e-14,9.013042e-12,5.997588e-15,1.107867e-14,2.0
2053,2055,Rayman Legends,PS4,2014,Platform,Ubisoft,1.116850e-13,9.016009e-14,0.000000e+00,5.997588e-15,1.107867e-14,0.0

In [89]:
sales_after_2010.Platform.unique()

array(['X360', 'PS3', 'DS', '3DS', 'PS4', 'Wii', 'XOne', 'WiiU', 'PC',
       'PSP', 'PSV'], dtype=object)

In [90]:
#find the 
sales_after_2010['label'] = sales_after_2010[['NA_Sales', 'EU_Sales', 'JP_Sales']].max(axis=1)

/var/folders/cy/p78z_yd10wb7gttsfxj36gmr0000gn/T/ipykernel_2142/3007792869.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_after_2010['label'] = sales_after_2010[['NA_Sales', 'EU_Sales', 'JP_Sales']].max(axis=1)

In [91]:
#create label for each game's per capita top-sale market
for i in range(len(sales_after_2010)):
    if sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('label')] ==sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('NA_Sales')]:
        sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('label')] = 0
    elif sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('label')] ==sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('EU_Sales')]:
        sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('label')] = 1
    elif sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('label')] ==sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('JP_Sales')]:
        sales_after_2010.iloc[i, sales_after_2010.columns.get_loc('label')] = 2

In [103]:
sales_after_2010.Year.unique()

array([2010, 2013, 2011, 2015, 2012, 2014, 2016], dtype=int32)

In [93]:
from pandas import get_dummies
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [94]:
sales_2010 = sales_after_2010.drop(['Name','NA_Sales', 'EU_Sales', 'JP_Sales', 'Global_Sales', 'Other_Sales', 'Rank'], axis = 1)
#add the game property we want to predict before get_dummies
sales_2010.loc[len(df)] = ['X360', 2016, 'Action', 'Nintendo', 1]
sales_2010 = get_dummies(sales_2010)
X_pred = sales_2010.iloc[-1, :].drop('label')
sales_2010 = sales_2010.iloc[:-1, :]
#find the number of label for each market
print(np.count_nonzero(sales_2010.label == 0))
print(np.count_nonzero(sales_2010.label == 1))
print(np.count_nonzero(sales_2010.label == 2))

172
7
383

In [95]:
sales_2010

,Year,label,Platform_3DS,Platform_DS,Platform_PC,Platform_PS3,Platform_PS4,Platform_PSP,Platform_PSV,Platform_Wii,...,Publisher_Slightly Mad Studios,Publisher_Sony Computer Entertainment,Publisher_Sony Computer Entertainment Europe,Publisher_Square Enix,Publisher_THQ,Publisher_Take-Two Interactive,Publisher_Ubisoft,Publisher_Valve,Publisher_Valve Software,Publisher_Warner Bros. Interactive Entertainment
15,2010,2.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,2013,2.0,False,False,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23,2013,2.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
26,2010,2.0,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29,2011,2.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2043,2010,2.0,False,False,False,False,False,True,False,False,...,False,True,False,False,False,False,False,False,False,False
2044,2011,2.0,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2048,2010,0.0,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2051,2014,2.0,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2053,2014,0.0,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [96]:
#Define the input(X) and output(y) of the model 
y = sales_2010['label'].values
X = sales_2010.drop(['label'], axis = 1).values
#Use built-in train_test_split in sklearn to split the data, 70% train, 30% test
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.70, random_state = 20)

In [74]:
#Build a random forest classifier using Sklearn, fit the model, and predict label
RDF_1 = RandomForestClassifier(random_state = 3).fit(Xtrain, ytrain)
y_val = RDF_1.predict_proba(Xtest)
print("Validation accuracy: ", sum(pd.DataFrame(y_val).idxmax(axis=1).values == ytest ) / len(ytest) )

Validation accuracy:  0.8197969543147208

In [58]:
from sklearn.decomposition import PCA

In [59]:
#Using PCA combine with random forest to classify
pca_X = PCA(n_components=34).fit_transform(X)
Xtrain_pca, Xtest_pca, ytrain, ytest = train_test_split(pca_X, y, test_size = 0.70, random_state = 3)

In [60]:
#using the transformed PCA data for prediction
RDF_2 = RandomForestClassifier(random_state = 3).fit(Xtrain_pca, ytrain)
y_val_pca = RDF_2.predict_proba(Xtest_pca)
print("Validation accuracy: ", sum(pd.DataFrame(y_val_pca).idxmax(axis=1).values == ytest ) / len(ytest) )

Validation accuracy:  0.799492385786802

In [39]:
Xtrain[-1].shape

(58,)

In [97]:
#Make the prediction for video game with 'X360', 2016, 'Action', 'Nintendo' properties 
X_pred = np.array(X_pred)

In [98]:
X_pred = X_pred.reshape(1, 58)

In [99]:
y_pred = RDF_1.predict_proba(X_pred)

In [100]:
y_pred

array([[0.31, 0.  , 0.69]])